html, body {
	position: relative;
	width: 100%;
	height: 100%;
	letter-spacing: 1px;
	line-height: 1.5em;
}

:root {
  --tablet-padding:calc(50vw - 300px + 1em);
  --desktop-padding:calc(50vw - 400px);
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}


button {
	background-color: gray;
	border: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	outline: none;
	padding: 0.75em;
	transition: 0.5s;
	border-radius: 5px;
}

button:hover {
	transform: scale(1.1);
}

button:active {
	transform: scale(0.9);
}

.icon-button {
  cursor: pointer;
	transition: 0.5s;
  display: inline-block;
}
.icon-button:hover {
	transform: scale(1.2);
}
.icon-button:active {
	transform: scale(0.9);
}
